.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  margin: 5px 0;
}
.container-cards {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 20px;
  overflow-x: auto;
}
