.card {
  background-color: rgb(248, 232, 232);
  width: 200px;
  border: 3px solid transparent;
  box-shadow: 3px 3px 3px rgb(121, 112, 112);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
  min-height: 200px;
}
.card:hover {
  border-color: black;
  background-color: rgb(246, 208, 208);
  scale: 1.05;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
div > img {
  width: 100px;
}
hr {
  width: 80%;
}
.typeContainer {
  display: flex;
  justify-content: center;
  flex-direction: row !important;
  gap: 10px !important;
}
div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
div > div > p {
  margin: 0;
}
div > div:last-child {
  margin-bottom: 10px;
}
/* .badge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  background-color: green;
  color: white;
  padding: 4px;
  border-radius: 50%;
  height: 2px;
}

.red {
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 50%;
  height: 2px;
} */
