<h1>Liste de Pokémon</h1>
<input type="number" #input (keyup.enter)="selectPokemon(input.value)" />

<!-- <div class="container">
  <div
    *ngFor="let pokemon of pokemonList"
    class="card"
    (click)="handleClick(pokemon.name)"
  >
    <div class="imgContainer">
      <img [src]="pokemon.picture" alt="{{ pokemon.name }}" />
    </div>
    <div>
      <p>Nom: {{ pokemon.name }}</p>
      <p>Force: {{ pokemon.hp }}</p>
    </div>
  </div>
</div> -->
<div class="container">
  <ng-container *ngIf="pokemonSelected; else noPokemon">
    <div class="card" (click)="handleClick(pokemonSelected?.name)">
      <div class="imgContainer">
        <img
          [src]="pokemonSelected?.picture"
          alt="{{ pokemonSelected?.name }}"
        />
      </div>
      <div>
        <p>Nom: {{ pokemonSelected?.name }}</p>
        <p>Force: {{ pokemonSelected?.hp }}</p>
        <div class="badge">
          <span
            [ngClass]="{
              green: pokemonSelected.hp > 25,
              red: pokemonSelected.hp <= 25
            }"
          >
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noPokemon>
    <p>Aucun Pokemon trouvé</p>
  </ng-template>
</div>
