<h1>Liste de Pokémon</h1>
<section class="container">
  <div class="container-cards">
    <app-card
      *ngFor="let pokemon of pokemonList"
      (click)="handleClick(pokemon.name)"
      [pokemon]="pokemon"
      [tooltip]="'Cliquez sur ' + pokemon.name + ' pour en savoir plus'"
    ></app-card>
  </div>
</section>
<!-- <input type="number" #input (keyup.enter)="selectPokemon(input.value)" /> -->
<!-- <div class="container">
  <ng-container *ngIf="pokemonSelected; else noPokemon">
    <div class="card" (click)="handleClick(pokemonSelected?.name)">
      <div class="imgContainer">
        <img
          [src]="pokemonSelected?.picture"
          alt="{{ pokemonSelected?.name }}"
        />
      </div>
      <div>
        <p>Nom: {{ pokemonSelected?.name }}</p>
        <p>Force: {{ pokemonSelected?.hp }}</p>
        <p>Type: {{ pokemonSelected?.types }}</p>
        <div class="badge">
          <span
            [ngClass]="{
              green: pokemonSelected.hp > 25,
              red: pokemonSelected.hp <= 25
            }"
          >
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noPokemon>
    <p>Aucun Pokemon trouvé</p>
  </ng-template>
</div> -->
